#addapp {
	position: fixed;
	height: 545px;
	width: 400px;
	margin-top: 30px;
	margin-left: 500px;
	background: black;
	border-radius: 3px;
	font-size: 14px;
	color: #d3b923;
	box-shadow: 0 0px 10px 10px rgba(0, 0, 0, 0.2);
	display: none;
}