.sidebar {
	color: #d3b923;
	background: black;
	min-height: 100vh;
	padding: 2rem;
	max-width: 20rem;
}

.logo-name {
	color: #d3b923;
	font-size: 2rem;
}

.nav-list {
	list-style-type: none;
	padding: 0;
}

.nav-list li {
	margin-bottom: 0.4rem;
}

.link_name:link,
.link_name:visited {
	display: block;
	font-size: 1.2rem;
	text-decoration: none;
	color: #d3b923;
	transition: all 0.4s;
}

.link_name:hover,
.link_name:active {
	text-decoration: underline;
	transform: scale(1.1);
}